body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px 0;
}

.contenido {
  padding: 30px;
}

.foto {
  width: 200px;
  border-radius: 10px;
  margin: 20px 0;
}

ul {
  list-style-type: square;
  text-align: left;
  display: inline-block;
  margin-top: 10px;
}

footer {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  margin-top: 40px;
}